@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Open+Sans:wght@300&display=swap');

body{
  font-family: 'Macondo' !important;
}
.navbar-brand {
    width:150px;
    font-size: 24px;
  }
  .navbar-brand img {
    height: 50px;
   
    float: left;
    margin-right: 7px;
  }
  
  .portfolio .container{
    padding-bottom: 40px;
  }

/* .portfolio .portfolio-heading{
flex: 0 0 100%;
max-width: 100%;
margin-top: 40px;
} */

.portfolio .portfolio-heading h2{
    color: var(--text-black-900);
    font-weight: 500;
    display: flex;
    justify-content: center;
}
/* .projimage{
  object-fit: cover !important;
} */

.portfolio-img {
    display: flex;
    justify-content: center;
    height: 100%;
    object-fit: cover;
}

body{
    background-color: grey;
}

.portfolio .portfolio-item{
  flex: 0 0 33.33%;
  max-width: 33.33%;
  margin-bottom: 30px;
}

.portfolio .portfolio-item-inner{
  border: 6px solid var(--bg-black-100);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.portfolio .portfolio-item-inner .portfolio-img img{
  width: 100%;
  display: block;
}

.section-title {
  display: flex;
  justify-content: center;
}